<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <% if (profile.avatar) { %>
    <div>
      <img 
        class="profile-avatar"
        src="<%= profile.avatar %>" 
        alt="<%= profile.name %> avatar"
      >
    </div>
  <% } %>
  <h1>It's <%= isSelf ? "you" : profile.name %>!</h1>
  <% if (isSelf)  {%> 
    <h2>Add a fun fact!</h2>
    <form action="/profiles/<%= profile._id %>/facts" method="POST">
      <label>
        Fun fact: 
        <input type="text" name="fact" autocomplete="off">
      </label>
      <button type="submit">Add a fact</button>
    </form>
  <% } %>
  <% if (profile.facts.length)  {%>
    <h2>
      <%= isSelf ? "You have" : `${profile.name} has` %> fun facts! Here they are!
    </h2>
    <% profile.facts.forEach(fact => { %>
      <h3>
        <%= fact.fact %>
        <% if (isSelf) { %> 
            <form 
              action="/profiles/facts/<%= fact._id %>?_method=DELETE" 
              method="POST"
              style="display: inline-block;"
            >
              <button type="submit">Delete <%= fact.fact %></button>
            </form>
            <% } %>
      </h3>
    <% }) %>
  <% } else { %>
    <h2>
      <%= isSelf ? "You don't" : `${profile.name} doesn't` %> have any fun facts.
    </h2> 
  <% } %> 
</main>

<%- include('../partials/footer') %>