<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1>Welcome, <%= user ? user.profile.name : "my guest" %></h1>
  <% if (user?.profile.avatar) { %>
    <div>
      <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
    </div>
  <% } %>
  <img src="https://media.giphy.com/media/JzujPK0id34qI/giphy-downsized.gif" alt="" height="460" id="groot">
</main>

<%- include('./partials/footer') %>
