<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1>Lists of MCU Movies!</h1>
  <% values.forEach(value => { %> 
    <h2><%= value.title %> </h2>
    <img src="https://www.themoviedb.org/t/p/original<%= value.poster_path %>" alt="">
    <% }) %> 
</main>

<%- include('../partials/footer') %>