<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section class="post">
    <h1>Posts</h1>
    <% if (user) { %> 
        <h2>Who is your favorite Marvel character and why? Share!</h2>
        <form action="/posts" method="POST">
            <label>
                My Favorite Character:
                <input type="text" name="title" autocomplete="off" id="title">
            </label>
            <label>
                Why I like this character..
                <input type="text" name="content">
            </label>
            <button type="submit">Add a post</button>
        </form>
    <% } %>
    <h2>All posts</h2>
    <% posts.forEach (post => { %> 
        <li>
            <a href="/posts/<%= post._id %>"><%= post.title %></a>
        </li>
    <% }) %>
</section>

<%- include('../partials/footer') %>