<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section class="post">
    <h1 id="postTitle">Posts</h1>
    <% if (user) { %> 
        <h2 class="who">Who is your favorite Marvel character and why? Share!</h2>
        <form action="/posts" method="POST">
            <label>
               <div class="postBar"> My Favorite Character: </div>
                <input type="text" name="title" autocomplete="off" id="title">
            </label>
            <label>
                <div class="postBar">Why I like this character..</div>
                <input type="text" name="content" autocomplete="off">
            </label>
            <button type="submit">Add a post</button>
        </form>
    <% } %>
    <h2 class="allPost">All posts</h2>
    <% posts.forEach (post => { %> 
        <li class="allPost">
            <a href="/posts/<%= post._id %>"><%= post.title %></a>
        </li>
    <% }) %>
</section>

<%- include('../partials/footer') %>