<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section class="post">
    <p class="allPost">Written by <%= post.owner.name %>...</p>
    <h1><%= post.title %></h1>
    <h2><%= post.content %></h2>
    <img src="../images/main/MarvelCharacters.jpg">
    <% if (post.owner.equals(user?.profile._id)) {%> 
        <form action="/posts/<%= post._id %>/edit" method="POST">
            <button class="btn" type="submit">Edit this Post</button>
        </form>
        <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
            <button class="btn" type="submit">Delete this post</button>
        </form>
    <% } %>
</section>

<%- include('../partials/footer') %>