<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
    <p>Written by <%= post.owner.name %>...</p>
    <h1><%= post.title %></h1>
    <% if (post.owner.equals(user?.profile._id)) {%> 
        <form action="/posts/<%= post._id %>/edit" method="GET">
            <button class="btn" type="submit">Edit this Post</button>
        </form>
        <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
            <button class="btn" type="submit">Delete this post</button>
        </form>
    <% } %>
</section>

<%- include('../partials/footer') %>